@use '../abstracts/variables' as *;

footer {
    display: flex;
    flex-direction: column;
    background: #dcd7d6;

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 40px;
        gap: 20px;

        p {
            max-width: 280px;
            font-size: 16px;
            line-height: 1.5;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .contact {
        display: flex;
        gap: 20px;
        p {
            margin-bottom: 6px;
        }
    }

    .footer-title {
        justify-items: flex-end;
        margin-left: auto;

        .link {
            margin-top: 22px;

            a {
                display: inline-block;
                margin-left: 12px;
                font-size: 30px;
            }

            a:hover {
                transform: scale(1.2);
                transition: transform 0.5s;
            }

            .x-twitter-icon{
                color: #000000;
            }

            .instagram-icon{
                color: #d62976;
            }

            .facebook-icon{
                color: #3A5795;
            }
        }
    }

    .allRightsReserved {
        font-family: $tertiary_font-family;
        font-size: 14px;
        border-top: 1px solid $secondary_color;
        padding: 20px;
        text-align: center;
    }

    .up {
        font-size: 50px;
        color: $tertiary_color;
        opacity: 0.3;
        position: fixed;
        bottom: 5%;
        right: 5%;

        &:hover {
            opacity: 0.5;
            transition: all 1s;
        }
    }
}

@media (max-width: 850px) {
    footer {
        .contact {
            flex-direction: column;
        }
    }
}

@media (max-width: 450px) {
    footer {
        .title {
            h1 {
                font-size: 42px;
            }
        }
    }
}