@use 'variables' as *;
@use 'mixins' as *;

@include blink-animation(blink1, white, $tertiary_color);
@include blink-animation(blink2, black, $tertiary_color);
@include blink-animation(blink3, white, $quaternary_color);

@keyframes shine {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

:root {
    --animation-blink-primary: blink1 1.5s infinite;
    --animation-blink-secondary: blink2 1.5s infinite;
    --animation-blink-tertiary: blink3 1.5s infinite;
    --animation-quaternary: shine 3s infinite linear;
}