@mixin shine-text($start-color, $mid-color) {
  background: linear-gradient(
    90deg,
    $start-color 0%,
    #ffffff 30%,
    $mid-color 50%,
    #ffffff 70%,
    $start-color 100%
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: var(--animation-quaternary);
}

@mixin blink-animation($name, $start-color, $mid-color) {
  @keyframes #{$name} {
    0%, 100% {
      color: $start-color;
    }

    50% {
      color: $mid-color;
    }
  }
}