@use '../abstracts/variables' as *;

.checkout-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 50px;
}

@media (max-width: 650px) {
    .checkout-main {
        gap: 0;
        padding: 0;
    }
}