@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;

.title {
    text-align: center;
    color: $secondary_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    h1,
    p {
        font-family: $logo_font-family;
        animation: var(--animation-blink-secondary);
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }
}