@use '../abstracts/variables' as *;

.retrieve-form {
    width: 100%;
    border-top: 3px solid #FF5E45;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    padding: 15px;

    h2 {
        font-weight: 900;
        font-size: 20px;
        text-align: center;
    }

    span {
        color: #F56C23;
    }

    .email,
    .password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;

        .emailInput,
        .passwordInput,
        .passwordConfirmInput {
            position: relative;

            input {
                width: 100%;
                padding: 6px 0;
                background: #FFFFFF;
                border: 1px solid #CCCCCC;
                box-shadow: inset 0px 1px 0px 0px #ECECEC;
                border-radius: 3px;
                text-indent: 30px;
            }
        }

        .tips {
            font-size: 14px;
            color: red;
            display: flex;
            flex-direction: column;
            gap: 5px;

            li:has(.green) {
                color: green;
            }
        }

        .emailIcon,
        .passwordIcon,
        .eyeIcon {
            font-size: 15px;
            color: rgba(61, 17, 0, 0.50);
            position: absolute;
            transform: translate(0, -50%);
        }

        .emailIcon,
        .passwordIcon {
            top: 50%;
            left: 10px;
        }

        .eyeIcon {
            top: 50%;
            right: 10px;
        }

    }

    .verify {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        label {
            display: block;
            text-align: center;
        }

        .code {
            display: flex;
            justify-content: center;
            gap: 10px;

            .codeInput {
                font-size: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                background: #FFFFFF;
                border: 1px solid #CCCCCC;
                box-shadow: inset 0px 1px 0px 0px #ECECEC;
                border-radius: 3px;
            }
        }
    }

    .sentVerify_button,
    .verify_button,
    .retrieve_button {
        width: 100%;
        color: #FFFFFF;
        padding: 10px 30px;
    }

    .sentVerify_button,
    .verify_button {
        text-align: center;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 3px;

        &:hover {
            background: gray;
        }
    }

    .retrieve_button {
        background: #F56C23;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background: red;
        }
    }
}

@media (max-width: 500px) {
    .retrieve-main {
        padding: 50px 10px;
    }
}